SECRET_KEY=geoportal-admin-secret-key
BACKEND_PUBLIC_URL=http://localhost:8005/api/v1
BACKEND_URL=http://backend:8000
GEOSERVER_PUBLIC_URL=http://localhost:8870/geoserver
GEOSERVER_URL=http://geoserver:8080
LOGIN=True

# Keycloak OIDC Configuration
ENABLE_KEYCLOAK_AUTH=True
KEYCLOAK_SERVER_URL=http://10.10.100.109:8085
KEYCLOAK_REALM=my-app
KEYCLOAK_CLIENT_ID=my-web-app
KEYCLOAK_CLIENT_SECRET=a-super-secret-value
KEYCLOAK_REDIRECT_URI=http://localhost:3001/callback
